In [2]:
from tqdm import tqdm
from sklearn.neighbors import KNeighborsClassifier

import pandas as pd
import numpy as np

import itertools
import time
import copy
import re

In [3]:
dataset = pd.read_csv('itemlist_ver1.csv')

In [4]:
dataset.head()

,rank,B.F. 대검,거인의 허리띠,곡궁,뒤집개,쇠사슬 조끼,쓸데없이 큰 지팡이,여신의 눈물,연습용 장갑,음전자 망토,조합
0,6,2,0,3,0,2,1,1,4,4,조율자결투가
1,6,2,0,2,0,2,1,2,2,1,명사수귀감
2,3,3,1,3,0,2,3,3,3,0,신성조율자
3,2,1,4,5,0,1,0,2,5,6,그림자닌자
4,3,3,0,1,0,1,3,3,3,2,달빛사냥꾼

In [5]:
tp = dataset.drop(['조합'], axis=1)

In [6]:
tp

,rank,B.F. 대검,거인의 허리띠,곡궁,뒤집개,쇠사슬 조끼,쓸데없이 큰 지팡이,여신의 눈물,연습용 장갑,음전자 망토
0,6,2,0,3,0,2,1,1,4,4
1,6,2,0,2,0,2,1,2,2,1
2,3,3,1,3,0,2,3,3,3,0
3,2,1,4,5,0,1,0,2,5,6
4,3,3,0,1,0,1,3,3,3,2
...,...,...,...,...,...,...,...,...,...,...
995,4,4,0,4,0,2,2,1,1,2
996,5,1,1,1,0,3,3,2,0,3
997,1,2,2,5,0,3,2,5,0,2
998,7,4,1,1,0,4,3,0,3,1
999,4,1,3,2,1,3,1,3,2,1

In [7]:
knn = KNeighborsClassifier(n_neighbors=3)

In [8]:
x = tp

In [9]:
y = dataset['조합']

In [10]:
knn.fit(x,y)

KNeighborsClassifier(n_neighbors=3)